<div id="tooplate_menu">
        <ul style="width:700">
<li><a href="{{curl}}AdminHome/" class="current">Home</a></li>
<li><a href="{{curl}}AddCourse/">Add Course</a></li>
<li><a href="{{curl}}CourseList1/">Course List</a></li>
<li><a href="{{curl}}AddBatch/">Add New Batch</a></li>            
<li><a href="{{curl}}NewBatchList/">New Batches</a></li> 
<!--<li><a href="{{curl}}DeleteContact/">Delete Contact</a></li> -->
<li><a href="{{curl}}Logout/">Logout</a></li>           
        </ul>    	      
        
        <div class="cleaner"></div>
    </div> <!-- end of menu -->
