{% load static %}
<div id="tooplate_wrapper">
	<div id="tooplate_header">
    	<!--style="background-color:#fff;padding:12px;margin:10px-->
        <div id="site_title" >
            <img src="{%static 'images/finallogo.png'%}" alt="" style="height:100px;width:200px;position:relative;left:10px;">
           <!---- <h1>HOBBIES <span style="color:red;">HUB</span></h1>-->
        </div>
           
        
        <div id="social_box">
            <a href="#"><img src="{% static 'images/facebook.png' %}" alt="facebook" /></a>
            <a href="#"><img src="{% static 'images/myspace.png' %}" alt="myspace" /></a>
            <a href="#"><img src="{% static 'images/twitter.png' %}" alt="twitter" /></a>
        </div>
        
        <div class="cleaner"></div>
    </div>
