<div id="tooplate_menu">
    
        <ul style="width:520px;">
            <li><a href="{{curl}}" class="current">Home</a></li>
          
       
            <li><a href="{{curl}}Blog/">Blog</a></li>
            
            <li><a href="{{curl}}Contact/">Contact</a></li>
     

        <li><a href="{{curl}}Login/">Login</a></li>
        <li><a href="#">  <select >
             
            <a href="#"> <option>Course List</option></a>                   
            <a href="{{curl}}Dance/"> <option>Dance</option></a>
            <a href="#"> <option>Writting</option></a>
            <a href="#"> <option >painting</option></a>
            <a href="#"><option >Abacus</option></a>
            <a href="#"> <option >paper craft</option></a>
            </select>
        </a>
        </li>  
       </ul> 
        <label>
            <input type="checkbox">
            <span class="check"></span>
        </label>
    
      <div id="search_box" style="position:relative;
      bottom:22px;">
            <form action="#" method="get">
                <input type="text" value="Search" name="q" size="10" id="searchfield" title="searchfield" onfocus="clearText(this)" onblur="clearText(this)" />
                <input type="submit" name="Search" value="" id="searchbutton" title="Search" />
            </form>
        </div>
        <div class="cleaner"></div>
    </div> <!-- end of tooplate_menu -->
