{% load static %}
<div id="tooplate_middle">
    	<div id="middle_left">
        	<h2>Make Your Move..</h2>
            <p>
                Get inspired to take up a new hobby with these courses exploring areas of interest, creativity, and discovery – perfect for when you have time to spare.
</p>
        </div>
        
		<div id="slider_wrapper">    
            <div id="slider">
                <a href="#"><img src="{% static 'images/slideshow/01.jpg' %}" alt="Image 01" title="Art is a creative activity that expresses imaginative or technical skill." style=width:400px;height:160px; /></a>
                <a href="#"><img src="{% static 'images/slideshow/02.jpg' %}" alt="Image 02" title="I like to find things about the  sky and the asteroid belt." /></a>
                <a href="#"><img src="{% static 'images/slideshow/03.jpg' %}" alt="Image 03" title="One large subset of outdoor pursuits is gardening." /></a>
               
               
            </div>
        </div>-->
	</div>








































    <!----
    <a href="#"><img src="{% static 'images/slideshow/01.jpg' %}" alt="Image 01" title="Lorem ipsum dolor sit amet." style=width:400px;height:160px; /></a>
    <a href="#"><img src="{% static 'images/slideshow/02.jpg' %}" alt="Image 02" title="Nullam ante leo, consectetur eget." /></a>
    <a href="#"><img src="{% static 'images/slideshow/03.jpg' %}" alt="Image 03" title="Suspendisse sit amet enim elit." /></a>
    <a href="#"><img src="{% static 'images/slideshow/04.jpg' %}" alt="Image 04" title="Nulla faucibus luctus quam eget placerat." /></a>
    <a href="#"><img src="{% static 'images/slideshow/05.jpg' %}" alt="Image 05" title="Phasellus aliquet viverra posuere." /></a>-->