<div id="tooplate_menu">
        <ul>
            <li><a href="{{curl}}StudentHome/" class="current">Home</a></li>
            <li><a href="{{curl}}CourseList2/">Course List</a></li>
            <li><a href="{{curl}}NewBatchList2/">Upcoming batches</a></li>
            <li><a href="{{curl}}SearchProfile/">Update Profile</a></li>
            <li><a href="{{curl}}Logout/">Logout</a></li>

        </ul>    	
        
        <div id="search_box">
            <form action="#" method="get">
                <input type="text" value="Search" name="q" size="10" id="searchfield" title="searchfield" onfocus="clearText(this)" onblur="clearText(this)" />
                <input type="submit" name="Search" value="" id="searchbutton" title="Search" />
            </form>
        </div>
        <div class="cleaner"></div>
    </div> <!-- end of tooplate_menu -->
